<mat-sidenav-container>
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [mode]="(isMobile$ | async) ? 'over' : 'side'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngFor="let menu of menus">
        <a mat-list-item [href]="menu.link">{{ menu.name }}</a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-layout-container">

    <mat-toolbar class="header" color="primary">
      <button type="button" mat-icon-button (click)="toggleDrawer()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>mml</span>
      <mat-slide-toggle class="theme-slide-toggle" [checked]="checked" (change)="switchMode($event)"></mat-slide-toggle>
    </mat-toolbar>

    <div class="page-container">

      <app-side-menu #sideMenu *ngIf="(isMobile$ | async) === false"></app-side-menu>

      <div class="container" #container>
        <div class="content">
          <ng-content></ng-content>
        </div>

        <div class="footer">footer</div>
      </div>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
